*~
*.o
*build*/
./models/
__pycache__/
.vscode
.idea
./translation
.cache
*.npy
*.pth
!tests/data/**/*.npy
/models
/notebooks
result/*
saved/* 
!result/.gitkeep
!saved/.gitkeep
**/.ipynb_checkpoints/
